/* Container for the update prediction details */
.update-prediction-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow:
    0 0 2px 0 rgba(0, 0, 0, 0.1),
    0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

/* Update Header Styling */
.update-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 16px;
}

/* Team logos and names */
.update-prediction-container h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 20px 0;
}

.update-prediction-container h3 img {
  margin: 0 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.update-prediction-container h3 span {
  font-size: 48px;
  font-weight: bold;
}

/* Gameweek */
.update-gameweek {
  text-align: center;
  font-size: 18px;
  color: #6c757d;
}

.update-gameweek strong {
  color: #343a40;
}

/* Prediction Form */
.update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.update-form div {
  margin-bottom: 15px;
}

.update-form label {
  font-size: 16px;
  margin-right: 10px;
}

.update-form input {
  padding: 8px;
  font-size: 16px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Buttons */
.update-submit-button {
  background-color: #6b21a8; /* Button background */
  color: #ffffff; /* Button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.update-submit-button:hover {
  background-color: #5a189a; /* Darker shade for hover effect */
}

.update-submit-button:disabled {
  background-color: #7842a4; /* Lighter shade for disabled state */
  cursor: not-allowed;
}

/* User Prediction */
.update-user-prediction {
  background-color: #6b21a8; /* Button background */
  color: #ffffff; /* Button text color */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

/* Match Score */
.update-match-score {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-match-score-number {
  font-size: 48px;
  font-weight: 600;
}

.update-match-score-divider {
  font-size: 28px;
  font-weight: 700;
  margin: 0 10px;
}

.update-score-input {
  height: 30px;
  width: 40px;
  font-size: 15px;
}

@media (max-width: 768px){
  .match-content {
    padding: auto;
  }
}