/* index.css */

/* Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom adjustments for mobile view */
@media (max-width: 640px) {
  .overflow-x-auto {
    overflow-x: auto;
  }

  table {
    min-width: 600px;
  }

  thead th {
    font-size: 0.75rem;
  }

  tbody td {
    font-size: 0.75rem;
  }

  img {
    width: 24px;
    height: 24px;
  }
}
